// import fonts
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

// Custom Variables for fonts
$primary-font: 'Marcellus', serif;
$secondary-font: 'open sans', sans-serif;

// Use fonts
.font-primary {
    font-family: $primary-font;
    letter-spacing: 0.2rem;
}

.font-secondary {
    font-family: $secondary-font;
}

// Custom Variables for colors
$primary-color: #f8f8f1;
$secondary-color: #d2b599;
$tertiary-color: #2a1c02;

body {
    background-color: $primary-color;

    h1 {
        font-family: $primary-font;
        letter-spacing: 0.2rem;
    }

    p {
        font-family: $secondary-font;
        color: $tertiary-color;
        line-height: 1.5rem;
        word-spacing: 1.5px;
        justify-content: center;
    }
}

.navbar-custom {
    background-color: $primary-color !important;
    border: none !important;
    max-width: 100%;

    // Menu
    .p-menuitem-content {
        background-color: $primary-color;

        .p-menuitem-text:hover {
            color: $secondary-color;
        }
    }

    // Logo
    .logo-navbar {
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translateX(-50%);
        height: 100px;
    }

    // Menu
    .input-navbar-custom {
        background-color: $primary-color;
        border: 1px solid black;
        border-radius: 50px;
        font-style: italic;
        font-size: small;
        width: 150px;
        height: 30px;
    }

    .icon-input-navbar-custom {
        position: absolute;
        font-size: small;

    }
}